<div class=mainmain>
  <div class=main>
    <!--some bla bla simulating the main page-->
    <h1>Twitter#test</h1>
    <p>Find me in app/views/twitter/test.html.erb</p>
    <h1>First experiment with erb</h1>
    <p>Loop from 0 to 5:
    <% (0..5).each do |i| %>
    <%= "#{i}, " %>
    <% end %>
    </p>
    <p>
    The current time is
    <%= @current_time %>
    </p>
    <%= render "footer" , :start_year => '2020' %>
  </div>
  <% unless Rails.application.secrets.twitter['enabled'] == false %>
    <div class=twitter>
      <p>
        <!--<img src="app/views/twitter/img/twitter.jpg" width="92" height="120" ></img>-->
      <h3>You see the tweets of <%= @twitter_name %>*</h3>
      <p><a href="/followers"> You have <%= @num_followers %> followers.</a></p>
       <p>*To prevent leakage no links are displayed. For more information visit the twitter of <%= @twitter_name %></p>
      </p>
      <p>
      <% @tweets.each do |e| %>
        <p>
          <%= "#{e.text} " %>
        </p>
      <% end %>
      <!--<%= @tweets %>-->
      </p>
    </div>
  <% end %>
</div>
