  <div class=main>
    <div>
      <!--some bla bla simulating the main page-->
      <h1>Twitter#test</h1>
      <p>Find me in app/views/twitter/test.html.erb</p>
      <h1>First experiment with erb</h1>
      <p>Loop from 0 to 5:
      <% (0..5).each do |i| %>
      <%= "#{i}, " %>
      <% end %>
      </p>
    </div>
    <div class=footer>
      <%= render "footer" , :start_year => '2020' %>
    </div>
  </div>
  <% unless Rails.application.secrets.twitter['enabled'] == false %>
    <div class=twitter>
        <div class="twitter_header">
          Tweets by @<%= @twitter_screen_name %></p>
        </div>
      <!-- <p><a href="/followers"> You have <%= @num_followers %> followers.</a></p> -->
      <% @tweets.each do |e| %>
        <div class=tweets>
          <div>
            <img class="tweets_pic" src="assets/twitter.jpg"></img>
          </div>
          <div class=tweets_name>
            <%= @twitter_name %>
          </div>
          <div class=tweet_text>
            <%= " #{e.text}" %>
          </div>
          <div class=text_date>
            <%= @tweet_time %> <% t = e.created_at%> <%="#{t.strftime("%m/%d/%Y")}"%>
          </div>
        </div>

      <% end %>
        <div class="twitter_footer">
          To prevent leakage no links are displayed. For more information visit @<%= @twitter_name %> on twitter.com.</p>
        </div>
      </div>
      <!--<%= @tweets %>-->
  <% end %>
